.main-container {
  display: grid;
  grid-template-rows: 40% 1fr;
  grid-template-columns: 1fr 20%;
}

.menuSection {

  grid-row: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.header {
  height: 200px;
  background-color: rosybrown;
}

.menuphoto {
  height: 120px;
  width: 150px;
}

.menuItem {
  height: 300px;
  width: auto;
  margin: 10px;
  text-align: center;
  padding-top: 10px;
  border: 1px solid black;
}
.ingredients {
  font-size: 20px;
}
.ordercontainer {
  overflow: scroll;
}